{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="center-form">
<h1>{% trans "Sign Out" %}</h1>

<p><b>{% trans 'Are you sure you want to sign out?' %}</b></p>

<form ALIGN='center' method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>

{% endblock %}