[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-environ = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
werkzeug = "*"
pillow = "*"
django-imagekit = "*"
django-allauth = "*"
boto3 = "*"
django-storages = "*"
djangorestframework = "*"
django-filter = "*"
django-mapbox-location-field = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
