{% extends "base.html" %}

{% block content %}
<h2>Edit Trip</h2>
<div>
    <form action="{% url 'edit_daytrip' daytrip_pk=daytrip.pk %}"method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">Update Trip</button>
           <a href="{% url 'daytrip_detail' daytrip_pk=daytrip.pk %}"><button>Cancel Update</button></a> 
        </div>
    </form>
</div><br>
<div>We will use mapbox to do these things below:</div>
<div>1) Show all routes on mapbox</div>
<div>2) Show all POI on mapbox</div>
<div>2) When you click on a route or POI, you get a pop up with an option to add it to the trip</div>
<div>3) Use JS to append route or POI to the appropriate planned list when added</div>
<div>4) Use dragula or sortable JS to order the list</div>
<div>5) On sumbit, send the planned list as an ordered list (array) to backend to be added</div><br>
<div id='map' style='width: 400px; height: 300px;'></div>

{{ route_info|json_script:"route_info" }}

<script>
document.addEventListener("DOMContentLoaded", (e) => {
    const route_info = JSON.parse(document.getElementById("route_info").textContent)
    mapboxgl.accessToken = '{{mapbox_access_token}}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-80.793457, 35.782169],
        zoom: 4,
    })
    console.log("map loaded!")
    for (let i = 0; i < route_info.length; i++) {
        let route = route_info[i]
        console.log(route.name)
        var html =  `<div style="border-radius: 3px; width: 200px;">
                        <h4 style="border-radius: 2px;">${route.name}</h4>
                        <div>${route.route_type} | ${route.rating}</div>
                        <a href="/routes/detail/${route.pk}" class="marker-popup">See the route!</a>
                    </div>`
        var customPopUp = new mapboxgl.Popup({
            anchor: "bottom",
            offset: { "bottom" : [0, -10]},
            closeOnClick: false
        }).setHTML(html);

        let color = "green"
        var marker = new mapboxgl.Marker(
            {color: color}
        )
            .setLngLat([route.longitude, route.latitude])
            .setPopup(customPopUp)
            .addTo(map);
    }
})
</script>
{% endblock %}