{% extends "base.html" %}

{% block meta %}
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}
{% endblock %}

{% block content %}
<h2>{{ pointofinterest.name }}</h2>
{% for photo in photos %}
<img src="{{ photo.photo_thumb.url }}"/>
{% empty %}
<div>This point of interest has no photos yet. Add some!</div><br>
{% endfor %}
<div>
    {{ pointofinterest.get_category_display }}<br>
    {{ pointofinterest.information }}
</div><br>
{% if user.is_authenticated and user == pointofinterest.owner %}
<button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit" id="button-one">Edit Point of Interest</button>
<div id="form-one" class="hidden">
    <form class="form-style" action="{% url 'edit_pointofinterest' pointofinterest_pk=pointofinterest.pk %}"method="POST">
        {% csrf_token %}
        {{ PointofinterestForm.as_p }}
        <div>
            <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit">Update Point of Interest</button>
           <a href="{% url 'pointofinterest_detail' pointofinterest_pk=pointofinterest.pk %}"><button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit">Cancel Update</button></a> 
        </div>
    </form>
</div>
{% endif %}
<button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit" id="button-two">Submit Photo</button>
<div id="form-two" class="hidden">
    <form class="form-style" action="{% url 'addphoto_to_pointofinterest' pointofinterest_pk=pointofinterest.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ PhotoForm.as_p }}
        <div>
            <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit">Submit Photo</button>
        </div>
    </form>
</div>
    <div>
        <a href="{% url 'add_poi_location' pointofinterest_pk=pointofinterest.pk %}"><button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit">Get Location</button></a>
    </div>
</div>

{% endblock %}