{% extends "base.html" %}

{% block content %}
<h2>{{ route.name }}</h2>
{% for photo in photos %}
<img src="{{ photo.photo_thumb.url }}"/>
{% empty %}
<div>This route has no photos</div><br>
{% endfor %}
<div>
    {{ route.route_type }} | {{ route.rating }}<br>
    {% if pitches == True %}
    {{ route.pitches }} pitches<br>
    {% endif %}
    {{ route.location }}
</div><br>
<button id="button-one">Sumbit Photo</button>
<div id="form-one" class="hidden">
    <form class="form-style" action="{% url 'addphoto_to_route' route_pk=route.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ PhotoForm.as_p }}
        <div>
            <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit" >Submit Photo</button>
        </div>
    </form>
</div>
{% endblock %}