{% extends 'base.html' %}
{% block content %}
<div>
    <form class="form-style" action="{% url 'home' %}" method="GET">
        <div>
            <label for="id_location">Route Location</label> <input type="search" name="location" required id="id_location" value="{{ location_q }}" placeholder="Search Climbing Areas">
        </div>
        <div>
            <label for="id_route_type">Route Type</label> <select name="route_type" id="id_route_type" value="{{ route_type_q }}">
            <option value="" selected>--</option>
            <option value="trad">trad</option>
            <option value="sport">sport</option>
            <option value="boulder">boulder</option>
            </select>
            <label for="id_rating">Route Difficulty</label> <select name="rating" id="id_rating" value="{{ rating_q }}">
            <option value="" selected>--</option>
            <optgroup label="Trad/Sport Rating">
                <option value="5.4">5.4</option>
                <option value="5.5">5.5</option>
                <option value="5.6">5.6</option>
                <option value="5.7">5.7</option>
                <option value="5.8">5.8</option>
                <option value="5.9">5.9</option>
                <option value="5.10">5.10</option>
                <option value="5.11">5.11</option>
                <option value="5.12">5.12</option>
                <option value="5.13">5.13</option>
                <option value="5.14">5.14</option>
                <option value="5.15">5.15</option>
            </optgroup>
            <optgroup label="Boulder Rating">
                <option value="V0">V0</option>
                <option value="V1">V1</option>
                <option value="V2">V2</option>
                <option value="V3">V3</option>
                <option value="V4">V4</option>
                <option value="V5">V5</option>
                <option value="V6">V6</option>
                <option value="V7">V7</option>
                <option value="V8">V8</option>
                <option value="V9">V9</option>
                <option value="V10">V10</option>
            </optgroup>
            </select>
            <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" href="#0"type="submit">Search</button>
        </div>
    </form>
</div>
<div id='map' style='width: 800px; height: 450px;'></div>
<h2 class="f4 bold center mw5">Routes</h2>
<ul class="list pl0 ml0 center mw5 ba b--light-silver br3">
    {% for route in routes %}
        <li class="ph3 pv2 bb b--light-silver">{{ route.name }} | {{ route.route_type }}</li>
    {% empty %}
        <li class="ph3 pv2 bb b--light-silver">Sorry, no availble routes for that search.</li>
    {% endfor %}
</ul>

{{ route_info|json_script:"route_info" }}
{{ poi_info|json_script:"poi_info" }}

<script>
// Initalize bounding variables
var minLongitude
var minLatitude
var maxLongitude
var maxLatitude
// Load map and set to variable map
mapboxgl.accessToken = '{{mapbox_access_token}}';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-80.793457, 35.782169],
    zoom: 4,
})
// Compass
var nav = new mapboxgl.NavigationControl();
map.addControl(nav, 'top-left');
// Fullscreen Feature
map.addControl(new mapboxgl.FullscreenControl());
// Add geolocate control to the map.
map.addControl(
    new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true,
        showAccuracyCircle: true
    },
    trackUserLocation: true
    })
);

console.log("map loaded!")
// Event starts as soon the page begins loading
// Get data, load to map, set markers, and initalize bounding varibales
document.addEventListener("DOMContentLoaded", (e) => {
    const route_info = JSON.parse(document.getElementById("route_info").textContent)
    const poi_info = JSON.parse(document.getElementById("poi_info").textContent)
    var latitudeList = []
    var longitudeList = []

    // Poi Popus Creation
    for (let i = 0; i < poi_info.length; i++) {
        let poi = poi_info[i]
        console.log(poi.name)
        var html =  `<article class="hide-child relative ba b--black-20 mw5 center">
                <img src="${poi.photo}" class="db" alt="Photo of a point of interest" />
                <div class="pa2 bt b--black-20">
                <p class="f6 dark-blue mv1">${poi.name}</p>
                <p class="f6 gray mv1">${poi.category}</p>
                <p class="f6 gray mv1">${poi.information}</p>
                <a class="link tc ph3 pv1 db bg-animate bg-dark-blue hover-bg-blue white f6 br1" href="/pointsofinterest/detail/${poi.pk}">See this Point of Interest!</a>
                </div>
                </article>`
        var customPopUp = new mapboxgl.Popup({
            anchor: "bottom",
            offset: { "bottom" : [0, -10]},
            closeOnClick: false
        }).setHTML(html);

        let color = "blue"
        var marker = new mapboxgl.Marker(
            {color: color}
        )
            .setLngLat([poi.longitude, poi.latitude])
            .setPopup(customPopUp)
            .addTo(map);
    }

    // Route Popups Creation
    for (let i = 0; i < route_info.length; i++) {
        let route = route_info[i]
        latitudeList.push(route.latitude)
        longitudeList.push(route.longitude)
        console.log(route.name)
        var html =  `<article class="hide-child relative ba b--black-20 mw5 center">
                <img src=${route.photo} class="db" alt="Photo of a route">
                <div class="pa2 bt b--black-20">
                <p class="f6 dark-blue mv1">${route.name}</p>
                <p class="f6 gray mv1">${route.route_type} | ${route.rating}</p>
                <a class="link tc ph3 pv1 db bg-animate bg-dark-blue hover-bg-blue white f6 br1" href="/routes/detail/${route.pk}">See this Route!</a>
                </div>
                </article>`
        var customPopUp = new mapboxgl.Popup({
            anchor: "bottom",
            offset: { "bottom" : [0, -10]},
            closeOnClick: false
        }).setHTML(html);

        let color = "green"
        var marker = new mapboxgl.Marker(
            {color: color}
        )
            .setLngLat([route.longitude, route.latitude])
            .setPopup(customPopUp)
            .addTo(map);
    }
    console.log(latitudeList)
    console.log(longitudeList)
    minLongitude = Math.min.apply(Math, longitudeList)
    minLatitude = Math.min.apply(Math, latitudeList)
    maxLongitude = Math.max.apply(Math, longitudeList)
    maxLatitude = Math.max.apply(Math, latitudeList)
    console.log(minLongitude)
    console.log(minLatitude)
    console.log(maxLongitude)
    console.log(maxLatitude)
})
// Bound mapbox after page loads, based on queried data
window.addEventListener('load', (e) => {
        map.fitBounds([
            [(minLongitude - 0.05), (minLatitude - 0.1)],
            [(maxLongitude + 0.1), (maxLatitude + 0.3)]
        ])
        console.log("bounds updated!")
    })
</script>
{% endblock %}
