{% extends 'base.html' %}
{% block content %}
<p>MapBox will go on this page</p>
<body>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        // const info = JSON.parse(document.getElementById('info').textContent)
        // var map = null
        mapboxgl.accessToken = '{{mapbox_access_token}}';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/belongarobert/ckgfpl6a014c219pczdey8wca',
        center: [-80.793457, 35.782169],
        zoom: 4,
    })
        var geocoder = new MapboxGeocoder({ // Initialize the geocoder
        accessToken: mapboxgl.accessToken, // Set the access token
        mapboxgl: mapboxgl, // Set the mapbox-gl instance
        marker: false, // Do not use the default marker style
        placeholder: 'Search Routes to climb',
        // bbox: [-122.30937, 37.84214, -122.23715, 37.89838], // Boundary for North Carolina
    });
        // var html = `<div style="border-radius: 3px; width: 200px;">
        //         <h6 style="border-radius: 2px;">${route.name}</h6>
        //         <p>${route.location}></p>
        //         <a href="${route.pk}" class="marker-popup">Add Route to your trip!</a> 
        //         <p>${route.route_type}</p>
        //         </div>`
        map.addLayer({
              'id': 'symbols',
              'type': 'route',
              'source': 'points',
              'layout': {
                'icon-image': 'custom-marker',
                'icon-allow-overlap': true
              }
              });
        map.on('mouseenter','symbols', function(e) {
                // Change the cursor style as a UI indicator.
                map.getCanvas().style.cursor = 'pointer';
                
                var coordinates = e.features[0].geometry.coordinates.slice();
                var description = e.features[0].properties.description;
                
                // Ensure that if the map is zoomed out such that multiple
                // copies of the feature are visible, the popup appears
                // over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }
                
                // Populate the popup and set its coordinates
                // based on the feature found.
                popup
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
                });
                map.on('mouseleave','symbols', function() {
                  map.getCanvas().style.cursor = '';
                  popup.remove();
                  });
              
            
              var popup = new mapboxgl.Popup({
                closeButton: false,
                closeOnClick: false
              });
              
            
                map.addControl(geocoder);

            map.on('load', function() {
            map.addSource('single-point', {
            type: 'geojson',
            data: {
            type: 'FeatureCollection',
            features: [
              {% for route in routes.all %}
              {
              'type': 'Feature',
              'properties': {
                'description':
                    '<strong><a href="{% url 'route_detail' route_pk=route.pk %}" target="_blank" title="Opens in a new window">{{route.name}}</a></strong><p> {{route.location}} {{route.type}}</p><p><b>Click on the farm in the list to learn more!<b></p>',
                'icon': 'theatre'
              },
              'geometry': {
              'type': 'Point',
              'coordinates': [
              {{route.longitude}},
              {{route.latitude}},
              ]
              }
              },{% endfor %}]
            }
    });
            
        
            // Listen for the `result` event from the Geocoder
            // `result` event is triggered when a user makes a selection
            //  Add a marker at the result's coordinates
            geocoder.on('result', function(e) {
            map.getSource('single-point').setData(e.result.geometry);
    });
    });
    </script>
</body>
{% endblock %}
