{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<p class="f4 bold center mw5">
    <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" type="submit" id="button-two">Add Trip</button>
    <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" type="submit" id="button-three">Add Point of Interest</button>
</p>
<div>
    <div id="form-two" class="hidden">
        <form class="form-style" action ="{% url 'add_daytrip' %}" method="POST">
            {% csrf_token %}
            {{ DaytripForm.as_p }}
            <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" type="submit">Add Trip</button>
        </form>
    </div>
    <div id="form-three" class="hidden">
        <form class="form-style" action ="{% url 'add_pointofinterest' %}" method="POST">
            {% csrf_token %}
            {{ PointofinterestForm.as_p }}
            <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" type="submit">Add Point of Interest</button>
        </form>
    </div>
</div>

<div class="flex-container center-form">
    <div id="profile-column-left">
        <h2 class="f5 f4-ns center mb0 black-90">{{ user }}</h2>
        {% if user.photo %}
            <img src="{{ user.photo_thumb.url }}" alt="user's profile picture"/>
        {% else %}
            <img src="https://images.unsplash.com/photo-1558537112-ed307f81124c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="default profile picture"/>
        {% endif %}
        <p class="f4 bold center mw5">{{ user.bio }}</p>
        <div><button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" type="submit" id="button-one">Edit User Info</button></div>
        <div id="form-one" class="hidden">
            <form action ="{% url 'profile' %}" method="POST" enctype="multipart/form-data" class="form-style-two">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" type="submit">Update Profile</button>
                <a href="{% url 'socialaccount_connections' %}"><button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green">Manage Social Accounts</button></a>
            </form>
        </div>
    </div>
    <div id="profile-column-right">
        <h3 class="f5 f4-ns center mb0 black-90"> My Trips</h3>
        <section class="cf w-100 pa2-ns">
            {% for daytrip in daytrips %}
            <article class="fl w-100 w-50-m ba w-25-ns pa3-ns">
                <a href="{% url 'daytrip_detail' daytrip_pk=daytrip.pk %}" class="ph2 ph0-ns pb3 link db">
                    <h3 class="f5 f4-ns mb0 black-90">{{ daytrip.title }}</h3>
                    <h3 class="f6 f5 fw4 mt2 black-60">{{ daytrip.date }}</h3>
                    <h3 class="f6 f5 fw4 mt2 black-60">{{ daytrip.num_routes }} Routes</h3>
                </a>
            </article>
            {% empty %}
            <p>No trips planned yet!</p>
            {% endfor %}
        </section>

    </div>
</div>    
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Login Here</a>
{% endif %}
{% endblock %}